@import '../../../styles/variables';

$c: '.footer';

#{$c} {
    width: 100%;
    display: flex;
    justify-content: center;

    &__wrapper {
        width: 100%;
        max-width: calc(100% - 3rem);

        @include bp(tiny) {
            max-width: 20.5rem;
        }

        @include bp(large) {
            max-width: calc(100% - 18rem);
        }

        @include bp(xxlarge) {
            max-width: 72rem;
        }
    }
}