@import '../../styles/variables';

$c: '.layout';
$wrapper: '.page-wrapper';

#{$c} {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#{$wrapper} {
    width: 100%;
    max-width: calc(100% - 3rem);

    @include bp(tiny) {
        max-width: 20.5rem;
    }

    @include bp(large) {
        max-width: calc(100% - 18rem);
    }

    @include bp(xxlarge) {
        max-width: 72rem;
    }
}